{% extends 'frontoffice/index.html.twig' %}
{% block content %}
      <!-- End Subheader --><!-- Start Blog -->
      <div class="subheader normal-bg section-padding">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <h1 class="text-custom-white">Booking</h1>
                  <ul class="custom-flex justify-content-center">
                     <li class="fw-500"><a href="index.html" class="text-custom-white">Acceuil</a></li>
                     <li class="active fw-500">Booking </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- End Subheader --><!-- Start Blog -->
      <section class="section-padding bg-light-white booking-form">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="tabs">
                     <div class="tab-content bg-custom-white bx-wrapper padding-20">
                        <div class="tab-pane fade active show">
                           <div class="tab-inner">
                                       <form action="{{path('front_office_preview',{'id' : vehicule.id})  }}" method="GET">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <div class="row mb-md-80">
                                       <div class="col-12">
                                          <h5 class="text-custom-black">Options</h5>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <label class="fs-14 text-custom-black fw-500">Siège Bébé : <b>{{ BS }} DT/Jour</b></label>
                                             <div class="group-form">
                                                <select name="BS" class="custom-select form-control form-control-custom">
                                                   <option value="0">Non</option>
                                                   <option value="1">Oui</option>
                                                </select>  
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <label class="fs-14 text-custom-black fw-500">Assurance Passager :<b> {{ STW }} DT</b></label>
                                             <div class="group-form">
                                                <select name="STW" class="custom-select form-control form-control-custom">
                                                   <option value="0">Non</option>
                                                   <option value="1">Oui</option>
                                                </select>  
                                             </div>                                          
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <label class="fs-14 text-custom-black fw-500">Chauffeur Personel : <b>{{ PD }} DT/Jour</b></label>
                                             <div class="group-form">
                                                <select name="PD" class="custom-select form-control form-control-custom">
                                                   <option value="0">Non</option>
                                                   <option value="1">Oui</option>
                                                </select>  
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <label class="fs-14 text-custom-black fw-500">Deuxiéme Conducteur : <b>{{ SD }} DT</b></label>
                                             <div class="group-form">
                                                <select name="SD" class="custom-select form-control form-control-custom">
                                                   <option value="0">Non</option>
                                                   <option value="1">Oui</option>
                                                </select>                                                 
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-12">
                                          <div class="form-group">
                                             <label class="fs-14 text-custom-black fw-500">Réservoire Plein : <b>{{ RS }} DT</b></label>
                                             <div class="group-form">
                                                <select name="RS" class="custom-select form-control form-control-custom">
                                                   <option value="0">Non</option>
                                                   <option value="1">Oui</option>
                                                </select>                                                 
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-12">
                                          <hr class="mt-0">
                                          <h5 class="text-custom-black">Code Promotion</h5>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <label class="fs-14 text-custom-black fw-500">Code Promotion</label>
                                             <input type="text" name="Promo" class="form-control form-control-custom" placeholder="XXXX-XXXX-XXXX">
                                          </div>
                                       </div>
                                       <div class="col-12">
                                          <hr class="mt-0">
                                          <input type="hidden" name="AP" value="{{ GET['AP'] }}">
                                          <input type="hidden" name="AD" value="{{ GET['AD'] }}">
                                          <input type="hidden" name="DP" value="{{ GET['DP'] }}">
                                          <input type="hidden" name="DD" value="{{ GET['DD'] }}">
                                          <button type="submit" class="btn-first btn-submit full-width btn-height">Validez</button>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-4">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="car-grid mb-xl-30">
                                             <div class="car-grid-wrapper bx-wrapper">
                                                <div class="image-sec animate-img"><a href ="{{ path('front_office_car', {'id': vehicule.id}) }}"> <img src="{{ vich_uploader_asset(vehicule, 'Def') }}" class="full-width" alt="img"> </a></div>
                                                <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                                                   <h4 class="title fs-16"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}" class="text-custom-black">{{ vehicule.Marque}} : {{ vehicule.Modele }}<small class="text-light-dark">Par Jour</small></a></h4>
                                                   <span class="price"><small>à partir de</small>{{ vehicule.Park.FinHS|date('m-d') >= DP|date('m-d') and vehicule.Park.DebutHS|date('m-d') <= DP|date('m-d') ? vehicule.PrixHS : vehicule.Prix}} DT {{vehicule.isVAT ? "TTC" : "" }} <small><b>+ {{vehicule.Caut}} DT Cautionnement</b></small> </span></br>
                                                   <div class="action"> <a class="btn-second btn-small" href="{{ path('front_office_car', {'id': vehicule.id}) }}">Voir</a></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="need-help bx-wrapper padding-20">
                                             <h5 class="text-custom-black">Besoin d'aide ?</h5>
                                             <p class="text-light-dark">Nous serions plus qu'heureux de vous aider. Notre équipe de conseillers est à votre service 24h/24 et 7j/7 pour vous aider.</p>
                                             <ul class="custom">
                                                <li class="text-custom-blue fs-18"> <i class="fas fa-phone-alt"></i> <a href="#" class="text-light-dark">(+216) {{ setting.Tel }}</a> </li>
                                                <li class="text-custom-blue fs-18"> <i class="fas fa-envelope"></i> <a href="#" class="text-light-dark fs-14">{{ setting.Email }}</a> </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Blog -->
      <!-- End Listing detail -->
      {% endblock %}