{% extends 'frontoffice/index.html.twig' %}
{% block content %}
      <div class="subheader normal-bg section-padding">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <h1 class="text-custom-white">Recherche</h1>
                  <ul class="custom-flex justify-content-center">
                     <li class="fw-500"><a href="{{ path('home_index') }}" class="text-custom-white">Acceuil</a></li>
                     <li class="active fw-500">Recherche </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- End Subheader --><!-- Start Blog -->
      <section class="section-padding bg-light-white">
         <div class="container">
            <div class="row">
               <h6 class="d-none">1</h6>
               <aside class="col-lg-4">
                  <div class="sidebar_wrap mb-md-80">
                     <div class="sidebar">
                        <div class="sidebar_widgets mb-xl-30">
                           <div class="widget_title">
                              <h5 class="no-margin text-custom-white">Modifier Recherche</h5>
                           </div>
                           <form>
                              
                              <div class="form-group">
                                 <label class="fs-14 text-custom-black fw-500">Date Depart</label>
                                 <div class="input-group group-form">
                                 <input type="date" name="DP" class="form-control form-control-custom"value = "{{ GET['DP'] }}" min="{{today}}">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="fs-14 text-custom-black fw-500">Date Retour</label>
                                 <div class="input-group group-form">
                                 <input type="date" name="DD" class="form-control form-control-custom"  value = "{{ GET['DD'] }}" min="{{next}}" max="{{max}}">
                                 </div>
                              </div>
                              <hr>
                              <h6>Transmission</h6>
                              <div class="checkbox-group">
                                 <div class="form-group"><label class="custom-checkbox"><input type="checkbox" name="Bt[]" value="Automatique" {% if Bt['Automatique'] is defined %}checked{% endif %}><span class="checkmark"></span>Automatique<img src={{ asset('icons/automatic-transmission.png') }} style="float:right; width : 2em"></label></div>
                                 <div class="form-group"><label class="custom-checkbox"><input type="checkbox" name="Bt[]" value="Manuelle" {% if Bt['Manuelle'] is defined %}checked{% endif %}><span class="checkmark"></span>Manuelle<img src={{ asset('icons/manual-transmission.png') }} style="float:right; width : 2em"></label></div>
                              </div>
                              <hr>
                              <h6>Marque</h6>
                              <div class="checkbox-group">
                              {% for marque in marques %}
                                 <div class="form-group"><label class="custom-checkbox"><input type="checkbox" name="Mq[]" value="{{marque.Marque}}" {% if Mq[marque.Marque] is defined %}checked{% endif %}><span class="checkmark"></span>{{marque.Marque}}</label></div>
                              {% endfor %}
                              </div>
                              <hr>
                              <div hidden>
                                          <input type="hidden" class="form-control form-control-custom datepickr" placeholder="dd/mm/yy" readonly="" name="AP" value="{{ GET['AP'] }}">                                           
                                          <input type="hidden" class="form-control form-control-custom datepickr" placeholder="dd/mm/yy" readonly="" name="AD" value="{{ GET['AD'] }}">                                           

                              </div>
                              <button type="submit" class="btn-first btn-submit full-width btn-height">Rechercher</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </aside>
               <div class="col-lg-8">
                  <div class="row">
                     <div class="col-12">
                        <div class="listing-top-heading mb-xl-20">
                           <h6 class="no-margin text-custom-black">Affichage {{ vehicules|length }} Resultats</h6>
                        </div>
                     </div>
                     {% for vehicule in vehicules %}
                     <div class="col-md-12">
                        <div class="car-grid mb-xl-30">
                           <div class="car-grid-wrapper car-grid bx-wrapper">
                              <div class="image-sec animate-img"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}"><img src="{{ vich_uploader_asset(vehicule, 'Def') }}" class="full-width" alt="img"></a></div>
                              <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                                 <h4 class="title fs-16"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}" class="text-custom-black">{{ vehicule.Marque }} : {{ vehicule.Modele }}<small class="text-light-dark">{{ vehicule.Park.FinBS|date('m-d') >= GET['DP']|date('m-d') ? vehicule.Prix : vehicule.PrixHS }}DT Par Jour</small></a></h4>
                                 <span class="price" style="text-align : center"><p><sup style="font-size : 20px">{{ vehicule.Park.FinBS|date('m-d') >= GET['DP']|date('m-d') ? vehicule.Prix * days : vehicule.PrixHS * days}} DT {{vehicule.isVAT ? "TTC" : "" }}</sup></br><sub style="font-size : 14px ; color : black;">+ {{ vehicule.Caut }} DT</br>Cautionnement</sub></p></span>
                                 <br>
                                 <hr>
                                 <p><i class='fa fa-gear'></i> {{ vehicule.Boite }} |<i class='fa fa-snowflake'></i> {{ vehicule.Clim ? 'Oui' : 'Non' }} | <i class='fa fa-user'></i> {{ vehicule.NbPlaces }} | <i class='fa fa-briefcase'></i> {{ vehicule.NbVal }}</p>
                                 <div class="row">
                                    <div class="col-6">
                                       {% if vehicule.isPassengerInsurance %}
                                       <p><i class='fa fa-check-square'></i> Assurance Pasasger</p>
                                       {% endif %}
                                       {% if vehicule.isUnlimitedMileage %}
                                       <p><i class='fa fa-check-square'></i> Kilométrage Illimité</p>
                                       {% endif %}
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="action"><a class="full-width" href="{{ path('front_office_car', {'id': vehicule.id, 'AD' : GET['AD'], 'AP' : GET['AP'], 'DD' : GET['DD'], 'DP' : GET['DP'] }) }}"><button class="btn-first btn-submit full-width btn-height" style="margin: 2px">Voir</button></a></div>
                                    </div>
                                     <div class="col-md-6">
                                       <form action="{{path('front_office_booking',{'id' : vehicule.id})  }}" method="GET">
                                          <input type="hidden" class="form-control form-control-custom datepickr" placeholder="dd/mm/yy" readonly="" name="AP" value="{{ GET['AP'] }}">                                              
                                          <input type="hidden" class="form-control form-control-custom datepickr" placeholder="dd/mm/yy" readonly="" name="DP" value="{{ GET['DP'] }}">
                                          <input type="hidden" class="form-control form-control-custom datepickr" placeholder="dd/mm/yy" readonly="" name="AD" value="{{ GET['AD'] }}">                                           
                                          <input type="hidden" class="form-control form-control-custom datepickr" placeholder="dd/mm/yy" readonly="" name="DD" value="{{ GET['DD'] }}">
                                          <div class="action"><button class="btn-first btn-submit full-width btn-height" style="margin: 2px" type = "submit">Reserver</a></div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                     <div class="col-12">
                        <div class="listing-top-heading mb-xl-20">
                           <h6 class="no-margin text-custom-black">Autres Véhicules ({{ otherVehicules|length }})</h6>
                        </div>
                     </div>
                     {% for vehicule in otherFoundVehicules %}
                     <div class="col-md-12">
                        <div class="car-grid mb-xl-30">
                           <div class="car-grid-wrapper car-grid bx-wrapper">
                              <div class="image-sec animate-img"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}"><img src="{{ vich_uploader_asset(vehicule, 'Def') }}" class="full-width" alt="img"></a></div>
                              <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                                 <h4 class="title fs-16"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}" class="text-custom-black">{{ vehicule.Marque }} : {{ vehicule.Modele }}<small class="text-light-dark">{{ vehicule.Park.FinHS|date('m-d') >= GET['DP']|date('m-d') and vehicule.Park.DebutHS|date('m-d') <= GET['DP']|date('m-d') ? vehicule.PrixHS : vehicule.Prix}} DT Par Jour</small></a></h4>
                                 <span class="price" style="text-align : center"><p><sup style="font-size : 20px">{{ vehicule.Park.FinHS|date('m-d') >= GET['DP']|date('m-d') and vehicule.Park.DebutHS|date('m-d') <= GET['DP']|date('m-d')  ? vehicule.PrixHS * days : vehicule.Prix * days}} DT {{vehicule.isVAT ? "TTC" : "" }}</sup></br><sub style="font-size : 14px ; color : black;">+ {{ vehicule.Caut }} DT</br>Cautionnement</sub></p> </span>
                                 <p><i class='fa fa-gear'></i> {{ vehicule.Boite }} |<i class='fa fa-snowflake'></i> {{ vehicule.Clim ? 'Oui' : 'Non' }} | <i class='fa fa-user'></i> {{ vehicule.NbPlaces }} | <i class='fa fa-briefcase'></i> {{ vehicule.NbVal }}</p>
                                 <div class="row">
                                    <div class="col-6">
                                       {% if vehicule.isCarInsurance %}
                                       <p><i class='fa fa-check-square'></i> Assurance Voiture</p>
                                       {% endif %}
                                       {% if vehicule.isPassengerInsurance %}
                                       <p><i class='fa fa-check-square'></i> Assurance Pasasger</p>
                                       {% endif %}
                                       {% if vehicule.isUnlimitedMileage %}
                                       <p><i class='fa fa-check-square'></i> Kilométrage Illimité</p>
                                       {% endif %}
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="action"><a class="full-width" href="{{ path('front_office_car', {'id': vehicule.id, 'AD' : GET['AD'], 'AP' : GET['AP'], 'DD' : GET['DD'], 'DP' : GET['DP'] }) }}"><button class="btn-first btn-submit full-width btn-height" style="margin: 2px">Voir</button></a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                     {% for vehicule in otherVehicules %}
                     <div class="col-md-12">
                        <div class="car-grid mb-xl-30">
                           <div class="car-grid-wrapper car-grid bx-wrapper">
                              <div class="image-sec animate-img"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}"><img src="{{ vich_uploader_asset(vehicule, 'Def') }}" class="full-width" alt="img"></a></div>
                              <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                                 <h4 class="title fs-16"><a href="{{ path('front_office_car', {'id': vehicule.id}) }}" class="text-custom-black">{{ vehicule.Marque }} : {{ vehicule.Modele }}<small class="text-light-dark">{{ vehicule.Park.FinHS|date('m-d') >= GET['DP']|date('m-d') and vehicule.Park.DebutHS|date('m-d') <= GET['DP']|date('m-d') ? vehicule.PrixHS : vehicule.Prix}} DT Par Jour</small></a></h4>
                                 <span class="price" style="text-align : center"><p><sup style="font-size : 20px">{{ vehicule.Park.FinHS|date('m-d') >= GET['DP']|date('m-d') and vehicule.Park.DebutHS|date('m-d') <= GET['DP']|date('m-d')  ? vehicule.PrixHS * days : vehicule.Prix * days}} DT {{vehicule.isVAT ? "TTC" : "" }}</sup></br><sub style="font-size : 14px ; color : black;">+ {{ vehicule.Caut }} DT</br>Cautionnement</sub></p> </span>
                                 <p><i class='fa fa-gear'></i> {{ vehicule.Boite }} |<i class='fa fa-snowflake'></i> {{ vehicule.Clim ? 'Oui' : 'Non' }} | <i class='fa fa-user'></i> {{ vehicule.NbPlaces }} | <i class='fa fa-briefcase'></i> {{ vehicule.NbVal }}</p>
                                 <div class="row">
                                    <div class="col-6">
                                       {% if vehicule.isCarInsurance %}
                                       <p><i class='fa fa-check-square'></i> Assurance Voiture</p>
                                       {% endif %}
                                       {% if vehicule.isPassengerInsurance %}
                                       <p><i class='fa fa-check-square'></i> Assurance Pasasger</p>
                                       {% endif %}
                                       {% if vehicule.isUnlimitedMileage %}
                                       <p><i class='fa fa-check-square'></i> Kilométrage Illimité</p>
                                       {% endif %}
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="action"><a class="full-width" href="{{ path('front_office_car', {'id': vehicule.id, 'AD' : GET['AD'], 'AP' : GET['AP'], 'DD' : GET['DD'], 'DP' : GET['DP'] }) }}"><button class="btn-first btn-submit full-width btn-height" style="margin: 2px">Voir</button></a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
               </div>
            </div>
         </div>
      </section>
      <!-- End Blog -->
      {% endblock %}