<!DOCTYPE html>

<title>Notification index</title>

{% block body %}
    <h1>Notification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>CreatedOn</th>
                <th>Seen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td>{{ notification.Title }}</td>
                <td>{{ notification.Body }}</td>
                <td>{{ notification.createdOn ? notification.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ notification.seen ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_notification_show', {'id': notification.id}) }}">show</a>
                    <a href="{{ path('app_notification_edit', {'id': notification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_notification_new') }}">Create new</a>
{% endblock %}
