<!DOCTYPE html>

<title>Notification</title>

{% block body %}
    <h1>Notification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notification.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ notification.Title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ notification.Body }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ notification.createdOn ? notification.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Seen</th>
                <td>{{ notification.seen ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_notification_index') }}">back to list</a>

    <a href="{{ path('app_notification_edit', {'id': notification.id}) }}">edit</a>

    {{ include('notification/_delete_form.html.twig') }}
{% endblock %}
