<div class="row gx-4">
    <div class="col-lg-8">
    {{ form_start(form) }}
        <div class="card mb-4">
            <div class="card-header">
                Fiche Dépense                                                            
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.Designation, ' Designation', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.Designation, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Designation) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.Prix, ' Montant', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.Prix, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Prix) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                <div class="col-md-6">
                        {{ form_label(form.Date, ' Date', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.Date, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Date) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.Vehicule, ' Vehicule', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.Vehicule, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Vehicule) }}
                    </div>

                </div>
                <button class="fw-500 btn btn-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
