<div class="row gx-4">
    <div class="col-lg-8">
    {{ form_start(form) }}
        <div class="card mb-4">
            <div class="card-header">
                Fiche Parc                                                            
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.Nom, ' Nom', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.Nom, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Nom) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.DebutHS, ' Debut HS', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.DebutHS, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.DebutHS) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.FinHS, ' Fin HS', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.FinHS, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.FinHS) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.DebutBS, ' Debut BS', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.DebutBS, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.DebutBS) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.FinBS, ' Fin BS', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.FinBS, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.FinBS) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.PrixBabySeat, ' Prix Siège Bébé', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.PrixBabySeat, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.PrixBabySeat) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.PrixSTW, ' Prix Assurance Passager', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.PrixSTW, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.PrixSTW) }}
                    </div>
                    
                </div>
                 <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.PrixSecondDriver, ' Prix Deuxiéme Conducteur', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.PrixSecondDriver, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.PrixSecondDriver) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.PrixPersonalDriver, ' Prix Chauffeur Personnel', {'label_attr':{'class':'small mb-1' }}) }}                                                          
                        {{ form_widget(form.PrixPersonalDriver, {'attr':{'class':'form-control' }}) }}                                                 
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.PrixPersonalDriver) }}
                    </div>
                </div>
                <button class="fw-500 btn btn-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
