{% extends "dashboard/index.html.twig" %}
{% block content %}
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                                Fiche Paiement
                            </h1>
                        </div>
                       <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" href="{{ path('payment_index') }}">
                                <i class="me-1" data-feather="arrow-left"></i>
                                Liste des Paiements                           
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche Paiement</div>
                        <div class="card-body">
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputFirstName">Total</label>
                                    <p class=" mb-1" for="inputFirstName">{{ payment.Total }} DT</p>

                                </div>
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputFirstName">Date</label>
                                    <p class=" mb-1" for="inputFirstName">{{ payment.created_On }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputFirstName">Status</label>
                                    <p class=" mb-1" for="inputFirstName">{{ payment.Status }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputFirstName">Client</label>
                                    <p><a class="text-muted me-3" href="{{ path('client_show',{'id' : payment.Client.id}) }}">{{ payment.Client.CIN }}</a></p>

                                </div>
                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputFirstName">Location</label>
                                    <p><a class="text-muted me-3" href="{{ path('location_show',{'id' : payment.Location.id}) }}">{{ payment.Location.Num }}</a></p>
                                </div>

                                <div class="col-md-4">
                                    <label class="small mb-1" for="inputFirstName">Session</label>
                                    <p><a class="text-muted me-3" href="#">{{ payment.sessionId }}</a></p>
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
